.body {
    height: 100vh;
    width: 100%;
    background-color: rgba(39, 39, 39, 1);
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.widget {
    background-color: rgba(39, 39, 39, 1);
    border-radius: 8px;
    border-color: rgba(39, 39, 39, 0.5);
    border-style: groove;
    border-width: 5px;
    color: red;
}
.widget-inside{
    background-color: rgba(39, 39, 39, 1);
    color:rgba(255, 255, 255, 0.8);
    
}

.carousel-style{
    position:absolute;
    height:250px;
    background-color: rgba(39, 39, 39, 1);
    border-width: 5px;
    border-color: rgba(240, 160, 20, 0.8);
    box-shadow: 0 0 10px 5px rgba(240, 160, 20, 0.8),0 0 20px 10px rgba(245,115,25,0.8),0 0 30px 15px rgba(39, 39, 39, 1);
    border-radius: 10px;
}
.carousel-box{
    position: absolute;
    top:600px;
    height:250px;
    left:200px;
    width: 80%;
}